/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@-webkit-keyframes move-menu {
  from {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  to {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
}

@keyframes move-menu {
  from {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  to {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
}

@-webkit-keyframes heart-scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes heart-scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@-webkit-keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sparks {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .theme-menu__item:has(.theme-menu__button:disabled).theme-menu__item::before {
    -webkit-animation: move-menu 0.5s ease-in-out infinite alternate;
    animation: move-menu 0.5s ease-in-out infinite alternate;
  }

  .theme-menu__button {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  .theme-menu__button::after {
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .button {
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  }

  .button::before {
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .button__text {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .core {
    fill: transparent;
    -webkit-transition: fill 0.3s 0.03s ease;
    transition: fill 0.3s 0.03s ease;
  }

  .like-icon:not(.is-liked):hover.like-icon .core {
    fill: var(--heart-contour-color);
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
  }

  .like-icon:not(.is-liked):active.like-icon .core {
    fill: var(--heart-main-color);
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
  }

  .main-body {
    fill: transparent;
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
  }

  .like-icon:not(.is-liked):hover.like-icon .main-body {
    fill: var(--heart-contour-color);
    -webkit-transition: fill 0.3s 0.05s ease;
    transition: fill 0.3s 0.05s ease;
  }

  .like-icon:not(.is-liked):active.like-icon .main-body {
    fill: var(--heart-main-color);
    -webkit-transition: fill 0.3s 0.05s ease;
    transition: fill 0.3s 0.05s ease;
  }

  .like-icon.is-liked .core {
    fill: var(--heart-main-color);
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
  }

  .like-icon.is-liked .main-body {
    fill: var(--heart-main-color);
    -webkit-transition: fill 0.3s 0.05s ease;
    transition: fill 0.3s 0.05s ease;
  }

  .contour {
    fill: var(--heart-contour-color);
  }

  .like-icon.is-liked .contour {
    fill: var(--heart-main-color);
    -webkit-transition: fill 0.3s 0.06s ease;
    transition: fill 0.3s 0.06s ease;
  }

  .like-icon:not(.is-liked) .contour {
    -webkit-transition: fill 0.1s linear;
    transition: fill 0.1s linear;
  }

  .like-icon.is-liked .heart {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    animation: heart-scale 0.3s 0.1s ease-in alternate-reverse;
  }

  .like-icon.is-liked .sparks {
    animation: sparks 0.3s 0.3s ease-in alternate-reverse;
  }
}