/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --bg-color: #000;
  --main-color: #00cc14;
  --hover-color: var(--main-color);
  --heart-contour-color: var(--main-color);
  --heart-main-color: #ff0000;
  --gradient: repeating-linear-gradient(
      var(--bg-color) var(--gradient-size-odd),
      transparent var(--gradient-size-even)
    ),
    repeating-linear-gradient(
      -90deg,
      var(--bg-color) var(--gradient-size-odd),
      transparent var(--gradient-size-even)
    ),
    linear-gradient(180deg, #007f0c 0%, #004306 100%);
  --border: 2px solid var(--main-color);
  --font-weight-title: 785;
  --font-weight-text: 465;
}

:root.theme-light {
  --bg-color: #fff;
  --main-color: #000;
  --hover-color: #fff;
  --heart-contour-color: #000;
  --heart-main-color: #ff0000;
  --gradient: repeating-linear-gradient(
      var(--bg-color) var(--gradient-size-odd),
      transparent var(--gradient-size-even)
    ),
    repeating-linear-gradient(
      -90deg,
      var(--bg-color) var(--gradient-size-odd),
      transparent var(--gradient-size-even)
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --border: 2px solid var(--main-color);
  --font-weight-title: 700;
  --font-weight-text: 400;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --main-color: #000;
    --hover-color: #fff;
    --heart-contour-color: #000;
    --heart-main-color: #ff0000;
    --gradient: repeating-linear-gradient(
        var(--bg-color) var(--gradient-size-odd),
        transparent var(--gradient-size-even)
      ),
      repeating-linear-gradient(
        -90deg,
        var(--bg-color) var(--gradient-size-odd),
        transparent var(--gradient-size-even)
      ),
      linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
    --border: 2px solid var(--main-color);
    --font-weight-title: 700;
    --font-weight-text: 400;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --main-color: #00cc14;
    --hover-color: var(--main-color);
    --heart-contour-color: var(--main-color);
    --heart-main-color: #ff0000;
    --gradient: repeating-linear-gradient(
        var(--bg-color) var(--gradient-size-odd),
        transparent var(--gradient-size-even)
      ),
      repeating-linear-gradient(
        -90deg,
        var(--bg-color) var(--gradient-size-odd),
        transparent var(--gradient-size-even)
      ),
      linear-gradient(180deg, #007f0c 0%, #004306 100%);
    --border: 2px solid var(--main-color);
    --font-weight-title: 785;
    --font-weight-text: 465;
  }
}
